body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #E8DACC;
    padding-top: 20px;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  footer.page-footer {
    padding-top: 0;
    text-align: right;
  }
  
  .submit-link {
    background-color: transparent;
    border: none;
    color: #395C4F;
    cursor: pointer;
  }
  
  button.submit-link:focus {
    background-color: transparent;
    outline: none;
  }

.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
  background-color: #f9f7ef; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; 
}

.nav-wrapper ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-wrapper ul li {
  display: inline-block;
}

.nav-wrapper ul li a {
  text-decoration: none;
  color: #395C4F;
  padding: 15px 20px;
  transition: color 0.3s ease;
}

.nav-wrapper ul li a:hover {
  color: #007bff; 
}

.brand-logo {
  font-size: 1.5rem;
}

.nav-wrapper .right {
  display: flex;
  align-items: center;
}

.title {
  padding: 30px 0 0 0;
  color:#395C4F;
  text-decoration: underline;
  text-align: center;
}

.jourTitle p {
  color:#395C4F;
  text-decoration: underline;
  font-size: 20px;
}

/* Container Styling */
.container {
  display: inline;
  margin: 40px auto;
  max-width: 800px; /* Adjust max-width as needed */
  margin: 0 auto;
  padding: 20px;
}

/* Text Styling */
.container p {
  font-size: 18px;
  line-height: 0.3;
  color: red;
}

#about {
  line-height: 1.0;
  text-align: justify;
}

h6 {
  margin: 30px 0 0 0;
}

.container h2 {
  font-size: 24px;
  color: #395C4F;
}

/* List Styling */
.container ul {
  list-style-type: none;
  padding: 0;
}

.container ul li {
  margin-bottom: 10px;
}

.container ul li a {
  text-decoration: none;
  color: #429477; /* Link color */
  font-weight: bold;
  transition: color 0.3s ease;
  text-decoration: underline;
}

.container ul li a:hover {
  color: #0056b3; /* Hover color */
  text-decoration: none;
}

/* Button Styling */
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #5b9580; /* Button background color */
  color: #ffffff; /* Button text color */
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btnsm {
  display: inline-block;
  padding: 2px 5px;
  background-color: #5b9580; /* Button background color */
  color: #ffffff; /* Button text color */
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3; /* Button hover background color */
}

.logo {
  margin-top: 15rem;
  border: solid 8px;
  border-radius: 3px;
  border-color: #395C4F;
}

img {
  height: auto; 
  width: auto; 
  max-width: 300px; 
}

.child {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
}

.child :hover {
  opacity: 0.5;
}

.parent {
  position: relative;
}

.p_entry {
  padding: 35px 0 0 0;
}

.form {
  font-size: 36px;
}

.entry-detail{
  white-space: pre-wrap;
}

footer{
  display: inline;
}

.footer-img{
  height: auto;
  width: auto;
  max-width: 25px;
  float: left;
  margin-bottom: 33px;
}

.right{
  float: right;
}

#upload{
  width: 290px;
}